<form action="/login" method="post">
  <input type="hidden" name="authenticity_token" value={csrf}/>
  <input name="user" type="input">
  <input name="password" type="password">
  <span><%= @error %></span>
  <button type="submit">Submit</button>
</form>