<div class="flex items-center justify-center h-screen">
  <div class="flex justify-center">
    <div class="w-96 backdrop-blur-lg bg-opacity-80 rounded-lg p-5">
      <h2 class="text-2xl font-bold pb-5">Sign In</h2>
      <form action="/login" method="POST">
        <div class="mb-4">
          <label for="user" class="block mb-2 text-sm font-medium">User</label>
          <input
            type="text"
            id="user"
            name="user"
            class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-full py-2.5 px-4"
            placeholder=""
            required
            value=""
          >
          <% if flash[:error_login] %>
            <span class="text-red-500"><%= flash[:error_login] %></span>
          <% end %>
        </div>
        <div class="mb-4">
          <label for="password" class="block mb-2 text-sm font-medium">Your password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-full py-2.5 px-4"
            placeholder="*********"
            required
            value=""
          >
          <% if flash[:error_login] %>
            <span class="text-red-500"><%= flash[:error_login] %></span>
          <% end %>
        </div>
        <div class="flex items-center justify-between mb-4">
          <button
            type="submit"
            class="text-white bg-purple-600 hover:bg-purple-700 focus:ring-2 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 px-5 w-full sm:w-auto"
          >
            Submit
          </button>
          <div class="flex items-center text-sm">
            <p>New here?</p>
            <p class="underline cursor-pointer ml-1"><a href="/register">Register</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>