<% content_for :sidebar do %>
  <% render :partial => 'helpers/sidebar' %>
<% end %>


Information User
<p>First Name: <%= @user[:firstname] %></p>
<p>Last Name: <%= @user[:lastname] %></p>
<p>Email: <%= @user[:mail] %></p>


<% content_for :footer do %>
  <% render :partial => 'helpers/footer' %>
<% end %>